<div class="page-container top1">
  <div class="container mx-auto px-4 intro">
    <div class="title-container">
      <h1 class="title">The World's #1 Marketplace to buy & sell beats</h1>
    </div>
    <form>
      <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-2xl	input-lg searching-input" />
    </form>
    <div class="trending">
      <ul>
        <li>En ce moment</li>
        <li><span class="badge">Badge</span></li>
        <li><span class="badge">Badge</span></li>
        <li><span class="badge">Badge</span></li>
      </ul>
    </div>
  </div>
</div>


<div class="page-container music-trending">
  <div class="container mx-auto px-4">
    <h4 class="content-playlist-title">Recommandé</h4>
    <div class="recommend">


      <div class="stack">
        <img src="assets/images/test/aditya-chinchure-ZhQCZjr9fHo-unsplash.jpg" alt="Image 1" class="rounded music-card-recommend" />
        <img src="assets/images/test/caught-in-joy-ptVBlniJi50-unsplash.jpg" alt="Image 2" class="rounded music-card-recommend" />
        <img src="assets/images/test/erik-mclean-QzpgqElvSiA-unsplash.jpg" alt="Image 3" class="rounded music-card-recommend" />
      </div>

      <div class="stack">
        <img src="assets/images/test/jamakassi-wejxKZ-9IZg-unsplash.jpg" alt="Image 1" class="rounded music-card-recommend" />
        <img src="assets/images/test/caught-in-joy-ptVBlniJi50-unsplash.jpg" alt="Image 2" class="rounded music-card-recommend" />
        <img src="assets/images/test/aditya-chinchure-ZhQCZjr9fHo-unsplash.jpg" alt="Image 3" class="rounded music-card-recommend" />
      </div>

      <div class="stack">
        <img src="assets/images/test/erik-mclean-QzpgqElvSiA-unsplash.jpg" alt="Image 1" class="rounded music-card-recommend" />
        <img src="assets/images/test/caught-in-joy-ptVBlniJi50-unsplash.jpg" alt="Image 2" class="rounded music-card-recommend" />
        <img src="assets/images/test/aditya-chinchure-ZhQCZjr9fHo-unsplash.jpg" alt="Image 3" class="rounded music-card-recommend" />
      </div>

      <div class="stack">
        <img src="assets/images/test/caught-in-joy-ptVBlniJi50-unsplash.jpg" alt="Image 1" class="rounded music-card-recommend" />
        <img src="assets/images/test/caught-in-joy-ptVBlniJi50-unsplash.jpg" alt="Image 2" class="rounded music-card-recommend" />
        <img src="assets/images/test/aditya-chinchure-ZhQCZjr9fHo-unsplash.jpg" alt="Image 3" class="rounded music-card-recommend" />
      </div>
    </div>
  </div>
</div>


<div class="page-container">
  <div class="audio-player">
    <div class="container mx-auto">
      <div class="flex justify-between">

        <div class="left-content-audio">
          <div class="image">
            <img src="assets/images/background.jpg" class="mini-img-music">
          </div>
          <div class="content-music-info">
            <h4>Eminem</h4>
            <h6>Author</h6>
          </div>
          <div class="price-music">
            <button class="btn btn-info btn-sm price">29.99€</button>
          </div>
        </div>

        <div class="audio-controls">
          <fa-icon [icon]="faBackward" class="icon-audio"></fa-icon>
          <fa-icon [icon]="faPlay" class="icon-audio"></fa-icon>
          <fa-icon [icon]="faForward" class="icon-audio"></fa-icon>
        </div>
        <div>03</div>

      </div>
    </div>
  </div>
</div>
